<p>YOU MADE IT!</p>
<p>Number of words: {{ monologue_info.numWords }}</p>
<p>Proper Noun(s) mentioned: {{monologue_info.properNouns}}</p>
<p>Set of words said: {{monologue_info.wordSet}}</p>
<p>Word Histogram: to be plotted...{{monologue_info.wordHistogram}}</p>
<p>Monologue Speaker: {{monologue_info.speaker}} from party {{monologue_info.part}}</p>
<p>Congressional year: {{monologue_info.congressionalYear}}</p>
<p>Congressional branch: {{monologue_info.branch}}</p>
<p>Monologue date: {{monologue_info.date}}</p>
<hr/>
<p>{{monologue_info.text}}</p>
