{% extends "header.html" %}

{% block content %}

</br>

<div class="panel-heading">
  <h3 class="panel-title"><a href="{% url 'People:person_detail' profile.name %}">Back to {{ profile.name }}'s Profile<i class="fa fa-refresh"></i></a></h3>
</div>

<div class="panel-heading">
	<div class="panel-title">Campaign Financers for {{ profile.name }}</div>
	{% if profile.financers_list %}
	    <ul>
	    {% for financer in profile.financers_list %}
	         <li class="list-group-item">From {{ financer.0 }} in the amount of ${{ financer.1 }}</li>
	    {% endfor %}
	    </ul>
	{% else %}
	    <p>No people are available.</p>
	{% endif %}
</div>
</br>

{% endblock %}
